html
  font-size: $base-font-size
  font-weight: 400

body
  background: white
  color: $text-color

main
  padding-top: $header-height + 2
  padding-bottom: 2em
  padding-left: 1.25em
  padding-right: 1.25em
  flex: 1
  +touch
    padding-top: $header-height

.site
  display: flex
  flex-direction: column
  min-height: 100vh

a
  color: $primary-color

p
  margin-bottom: .8em

.container
  max-width: 720px

h1.title, h2.title, .title.is-2, .content h2
  +mobile
    font-size: 1.7rem
    margin: 1em 0 .5em

