html
  font-size: $base-font-size
  font-weight: 400

body
  background: white
  color: $text-color

main
  padding-top: $header-height + 2
  padding-bottom: 2em
  padding-left: 1em
  padding-right: 1em
  flex: 1

.site
  display: flex
  flex-direction: column
  min-height: 100vh

a
  color: $primary-color

p
  margin-bottom: .8em

.container
  max-width: 720px