.header
  height: $header-height
  background: white
  border-bottom: 1px solid $primary-color
  display: flex
  align-items: center
  padding: 0 $header-padding-horizontal
  position: fixed
  left: 0
  right: 0
  z-index: 2
  &, a
    color: $header-item-color

.header__logo
  > img
    height: $header-logo-height
  line-height: 0

.header__menu
  margin-left: auto
  display: flex
  font-size: 1.125em
  overflow: hidden

.header__menu__item
  padding: 0 .65em
  height: calc(#{$header-height} - 1px)
  line-height: calc(#{$header-height} - 1px)
  transition: .15s ease-in-out

  &:hover
    background: darken(white, 5%)
